.range-slider {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__input {
    appearance: none;
    border-radius: 2px;
    width: 100%;
    height: 10px;
    outline: none;
    border: 1px solid #D4D4D4;
    color: red;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 18px;
      height: 18px;
      background: red;
      border-radius: 18px;
      cursor: pointer;
      transition: .1s;
    }
  }

  &__loading-bar {
    justify-content: space-between;
    width: 100%;
    display: flex;
  }

  &_vertical {
    transform: rotate(-90deg);
  }
}
