//div.range-slider


div.range-slider.slider
    div.range-slider__range
        input.range-slider__input(type='range' min='NaN' max='NaN')
        //input.range-slider__input.range-slider__input_two(type='range')
    div.range-slider__number-series
        div  0
        div 25
        div 1000
