// Слайдер с одной точкой и баром загрузки
div.range-slider.mem
    //div.range-slider__scale
    //    div.range-slider__point.range-slider__point_one
    //div.loading-bar.range-slider__loading-bar
